<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Video page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style1.css">
</head>

<body>
    <% baseUrl="http://localhost:3000/" %>
        <%- include("components/header.ejs") %>
            <div class="video-main-div">
                <input type="hidden" id="videoId" value="<%= video._id %>">
                <input type="hidden" id="category" value="<%= video.category %>">
                <video id="videoPlayer" poster="<%= baseUrl + video.thumbnail.substring(7) %>"
                    src="<%= baseUrl + video.filePath.substring(7) %>" controls></video>
                <div class="row video-page-row">
                    <div class="col-md-6">
                        <h2 class="video-title">
                            <%= video.title %>
                        </h2>
                        <p class="video-uploader-name">uploaded by <%= video.user.name %>
                        </p>
                    </div>
                    <div class="col-md-6 d-flex flex-row">
                        <button onclick="doLike()" class="like-btn d-flex flex-row justify-content-center">
                            <img class="like-icon" id="likeicon" src="/images/like-before.svg" alt="like">
                            <p id="likecount" class="like-count mx-1">
                                <%= video.likers.length %>
                            </p>
                        </button>
                        <button onclick="doDislike()" class="like-btn mx-3 d-flex flex-row justify-content-center">
                            <img class="like-icon" id="dislikeicon" src="/images/dislike-before.svg" alt="dislike">
                            <p id="dislikecount" class="like-count mx-1">
                                <%= video.dislikers.length %>
                            </p>
                        </button>
                    </div>
                </div>
                <div class="blank1"></div>

                <% const created=new Date(video.createdAt); const date=created.getDate() + "" ; const
                    months=["January", "February" , "March" , "April" , "May" , "June" , "July" , "August" , "September"
                    , "October" , "November" , "December" ]; %>

                    <div class="video-stuff d-flex justify-content-between">
                        <p class="video-posted-on">Posted on <%= date.padStart(2, '0' ) + " " +
                                months[created.getMonth()] + " " + created.getFullYear() %>
                        </p>
                        <p class="video-views"><img src="/images/eye.svg" class="eye-icon" alt="eye-icon" />
                            <%= video.views %> views
                        </p>
                    </div>
                    <div class="blank1"></div>
                    <p class="video-category"><b>Category :</b>
                        <%= video.category %>
                    </p>
                    <p class="video-description">
                        <%= video.description %>
                    </p>
                    <div class="comment d-flex flex-column">
                        <p class="comment-heading">Leave a comment :</p>
                        <textarea placeholder="Write your comment here..." class="form-control comment-text"
                            id="textarea-comment" rows="4"></textarea>
                        <button onclick="postComment()" class="comment-btn">Post comment</button>
                    </div>
                    <div class="show-comments" id="showcomments">
                        <% var allComments=video.comments.reverse(); allComments.forEach((comment)=> { %>
                            <div class="comment-details d-flex flex-row">
                                <img class="comment-img" src="<%= comment.user.image %>" onerror="this.src='/images/user-icon.svg'" alt="user-img" />
                                <div class="comment-body d-flex flex-column">
                                    <p class="comment-body-username">
                                        <%= comment.user.name %>
                                    </p>
                                    <p class="comment-body-text">
                                        <%= comment.comment %>
                                    </p>
                                </div>
                                <% if(isAuthenticated) { %>
                                    <div class="reply-btn-wrapper d-flex align-items-end justify-content-end">
                                        <button id="<%= comment._id %>" class="btn reply-btn" onclick="createReplyNode(this)" data-comment-id="<%= comment._id %>">Reply</button>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="replies">
                                    <div class="reply-node-container" id="reply-node-container"></div>
                                <% comment.replies.forEach((reply)=> { %>

                                    <% }) %>
                            </div>
                            <% }) %>
                    </div>
            </div>
            <%- include("components/footer.ejs") %>

                <script>
                    window.onload = () => {
                        const videoId = document.getElementById("videoId").value;
                        if (!localStorage.getItem(videoId + "?isLiked"))
                            localStorage.setItem(videoId + "?isLiked", "false");

                        if (!localStorage.getItem(videoId + "?isDisliked"))
                            localStorage.setItem(videoId + "?isDisliked", "false");

                        let likeicon = document.getElementById("likeicon");
                        let dislikeicon = document.getElementById("dislikeicon");

                        if (localStorage.getItem(videoId + "?isLiked") == "false")
                            likeicon.src = "/images/like-before.svg";
                        else
                            likeicon.src = "/images/like-after.svg";

                        if (localStorage.getItem(videoId + "?isDisliked") == "false")
                            dislikeicon.src = "/images/dislike-before.svg";
                        else
                            dislikeicon.src = "/images/dislike-after.svg";
                    }

                    const createReplyNode = (element) => {
                        const commentId = element.getAttribute("data-comment-id");
                        const replyNodeContainer = document.getElementById("reply-node-container");

                        const replyNode = document.createElement("div");
                        replyNode.className = "reply-node";
                        replyNode.innerHTML = `
                        <p class="reply-node-heading">Write a reply :</p>
                        <textarea placeholder="Write your reply here..." class="form-control reply-node-text" rows="3"></textarea>
                        <button onclick="replyOnComment('${commentId}')" class="btn reply-node-btn">Post</button>`;
                        
                        replyNodeContainer.appendChild(replyNode);
                        // replyNode.style.display = "block";
                    }

                    const doLike = () => {
                        const videoId = document.getElementById("videoId").value;
                        localStorage.setItem(videoId + "?isLiked", "true");
                        document.getElementById("likeicon").src = "/images/like-after.svg";
                        fetch("http://localhost:3000/do-like", {
                            method: "POST", headers: {
                                "Content-Type": "application/json"
                            }, body: JSON.stringify({ videoId })
                        }).then((res) => {
                            return res.json();
                        }).then((f_res) => {
                            if (f_res.code == 400) {
                                var currentLike = parseInt(document.getElementById("likecount").innerHTML);
                                document.getElementById("likecount").innerHTML = f_res.likeCount + 1; //currentLike + 1
                                Toastify({
                                    text: f_res.msg,
                                    duration: 2000,
                                    newWindow: true,
                                    close: true,
                                    gravity: "top",
                                    position: "right",
                                    stopOnFocus: true,
                                    avatar: "/images/success-icon.svg",
                                    style: {
                                        background: "#000000",
                                    },
                                    onClick: function () { } // Callback after click
                                }).showToast();
                            }
                            else if (f_res.code == 500) {
                                Toastify({
                                    text: f_res.msg,
                                    duration: 2000,
                                    newWindow: true,
                                    close: true,
                                    gravity: "top",
                                    position: "right",
                                    stopOnFocus: true,
                                    // avatar: "images/success-icon.svg",
                                    style: {
                                        background: "#000000",
                                    },
                                    onClick: function () { } // Callback after click
                                }).showToast();
                            }
                        })
                    }

                    const doDislike = () => {
                        const videoId = document.getElementById("videoId").value;
                        localStorage.setItem(videoId + "?isDisliked", "true");
                        document.getElementById("dislikeicon").src = "/images/dislike-after.svg";
                        fetch("http://localhost:3000/do-dislike", {
                            method: "POST", headers: {
                                "Content-Type": "application/json"
                            }, body: JSON.stringify({ videoId })
                        }).then((res) => {
                            return res.json();
                        }).then((f_res) => {
                            if (f_res.code == 400) {
                                var currentDislike = parseInt(document.getElementById("dislikecount").innerHTML);
                                document.getElementById("dislikecount").innerHTML = f_res.dislikeCount + 1; //currentDislike + 1
                                Toastify({
                                    text: f_res.msg,
                                    duration: 2000,
                                    newWindow: true,
                                    close: true,
                                    gravity: "top",
                                    position: "right",
                                    stopOnFocus: true,
                                    avatar: "/images/success-icon.svg",
                                    style: {
                                        background: "#000000",
                                    },
                                    onClick: function () { } // Callback after click
                                }).showToast();
                            }
                            else if (f_res.code == 500) {
                                Toastify({
                                    text: f_res.msg,
                                    duration: 2000,
                                    newWindow: true,
                                    close: true,
                                    gravity: "top",
                                    position: "right",
                                    stopOnFocus: true,
                                    // avatar: "images/success-icon.svg",
                                    style: {
                                        background: "#000000",
                                    },
                                    onClick: function () { } // Callback after click
                                }).showToast();
                            }
                        })
                    };

                    const postComment = () => {
                        const comment = document.getElementById("textarea-comment").value;
                        const videoId = document.getElementById("videoId").value;
                        fetch("http://localhost:3000/do-comment", {
                            method: "POST", headers: {
                                "Content-Type": "application/json"
                            }, body: JSON.stringify({ videoId, comment })
                        }).then((res) => {
                            return res.json();
                        }).then((f_res) => {
                            if (f_res.code == 300) {
                                Toastify({
                                    text: f_res.msg,
                                    duration: 2000,
                                    newWindow: true,
                                    close: true,
                                    gravity: "top",
                                    position: "right",
                                    stopOnFocus: true,
                                    avatar: "/images/error-icon.svg",
                                    style: {
                                        background: "#000000",
                                    },
                                    onClick: function () { } // Callback after click
                                }).showToast();
                            }
                            else if (f_res.code == 400) {
                                const showcomments = document.getElementById("showcomments");
                                const newcomment = `<div class="comment-details d-flex flex-row">
                                <img class="comment-img" src="${f_res.user.image}" onerror="this.src='/images/user-icon.svg'" alt="user-img" />
                                <div class="comment-body d-flex flex-column">
                                <p class="comment-body-username">
                                    ${f_res.user.name}
                                </p>
                                <p class="comment-body-text">
                                    ${comment}
                                </p>
                                </div>
                                </div>`;
                                // showcomments.innerHTML = newcomment + showcomments.innerHTML; // works fine
                                showcomments.insertAdjacentHTML("afterbegin", newcomment);
                                document.getElementById("textarea-comment").value = "";
                                Toastify({
                                    text: f_res.msg,
                                    duration: 2000,
                                    newWindow: true,
                                    close: true,
                                    gravity: "top",
                                    position: "right",
                                    stopOnFocus: true,
                                    avatar: "/images/success-icon.svg",
                                    style: {
                                        background: "#000000",
                                    },
                                    onClick: function () { } // Callback after click
                                }).showToast();
                            }
                            else if (f_res.code == 500) {
                                console.log(f_res.msg);
                            }
                        })
                    };
                </script>

                <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
                    crossorigin="anonymous"></script>
</body>

</html>